language: node_js
node_js:
  - '10'
  - '12'

install:
  - yarn install
  - yarn run build
  - yarn run build:demo

script:
  - yarn run test
  - codecov -f coverage/*.json

after_script:
  - mkdir deploy
  - cp index.html ./deploy
  - cp index-default.html ./deploy
  - cp index-with-guide-line.html ./deploy
  - cp ./dist/index.umd.js ./deploy
  - cd ./deploy
  - git init
  - git config user.name "BiYuqi"
  - git config user.email "biyuqiwan@163.com"
  - git add .
  - git commit -m "Travis CI Auto Builder at `date +"%Y-%m-%d %H:%M"`"
  - git push --force --quiet "https://${SIGNATURE}@${GH_REF}" master:gh-pages

branches:
  only:
    - master
env:
  global:
    - GH_REF: github.com/ifakejs/signature.git
